  /* Center the navigation bar */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
	background-color: #151515;
	font-family: 'Teko', sans-serif;
font-family: 'Tilt Prism', cursive;
	color:gold;
	padding: 10px;
}
ul {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
li {
    display: inline-block;
    margin: 0 30px;
    height: 60px;
    color: aliceblue;
}
li a {
color:gold;
text-align: center;
margin :2 10px;
padding: 14px 14px;
text-decoration: solid;
font-size: 30px;
}

li a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
}
footer {
    position:fixed;
    bottom:0;
    color: gold;
    text-align: center;
    width:100%;
    height: 90px;
    background-color: #282828;
  }
